# Node.js modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
*.log.*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
coverage/
.cache/
.next/
out/
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.tmp
*.temp
*.swp
*.swm

# Testing
coverage/
jest-coverage/

# Miscellaneous
*.bak
*.old

#Embeddings
embeddings/*